torch==2.2.0
torchaudio==2.2.0
numpy==1.26.4
librosa==0.10.1
soundfile==0.12.1
sounddevice==0.4.6
pyroomacoustics==0.7.3
scipy==1.12.0
tqdm==4.66.2
matplotlib==3.8.3
tensorboard==2.16.2
kaggle==1.6.6
requests==2.31.0
flask>=3.0.0
flask-cors>=4.0.0
pesq>=0.0.4
pystoi>=0.3.3
